/* STILMALL */

@media (max-width: 768px) {
   .containers {
      background-image: url("../misc/Bacckground_Slutprojekt.jpg");
      background-size: 200% 200%;
      background-position: center;
      background-repeat: no-repeat;

      display: grid;
      width: 100%;
      height: 100%;
      margin: 0;
      
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;

   }
   #indexcont {
      grid-template-areas: 
      'hds hds'
      'idt idt'
      'prt prt';
   }
   #workscont {
      grid-template-areas: 
      'hds hds'
      'wrsc wrsc'
      'wrsc wrsc';
   }
   #aboutcont {
      grid-template-areas: 
      'hds hds'
      'absc absc'
      'absc absc';
   }
   #contactcont {
      grid-template-areas: 
      'hds hds'
      'ctsc ctsc'
      'ctsc ctsc';
   }
   #portrait {
      width: 200%;
   }
   #swishcard, #henkesuper, #fisherman, #pattern {
      max-width: 90%;
      margin: 1.2rem;
   }
   .headers {
      grid-area: hds;
      background-color: rgb(93, 67, 224);
   }
   .headers h1 {
      text-align: center;
   }
   #worksh2, #abouth2, #contacth2 {
      font-size: 25px;
   }
   #aboutmep {
      max-width: 100%;
      width: 330px;
   }
   #aboutmep {
      font-size: 20px;
   }
   #contactdiv p {
      font-size: 20px;
   }
   #indextext h2 {
      margin-bottom: 0;
      font-size: 35px;
   }
   #indextext p {
      margin-top: 0;
      font-size: 20px;
   }
}

@media (min-width: 1024px) {
   .containers {
      background-image: url("../misc/Bacckground_Slutprojekt.png");
      background-size: 200% 200%;
      background-position: center;
      background-repeat: no-repeat;

      display: grid;
      width: 100%;
      height: 100%;
      margin: 0;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;

      grid-template-areas: 
      'hds hds'
      'idt prt';
   }
   #indexcont {
      grid-template-areas: 
      'hds hds'
      'idt prt';
   }
   #workscont {
      grid-template-areas: 
      'hds hds'
      'wrsc wrsc';
   }
   #aboutcont {
      grid-template-areas: 
      'hds hds'
      'absc absc';
   }
   #contactcont {
      grid-template-areas: 
      'hds hds'
      'ctsc ctsc';
   }
   #portrait {
      width: 80%;
      margin-left: 7rem;
   }
   #swishcard, #henkesuper, #fisherman, #pattern {
      max-width: 40%;
      margin: 2rem;
      margin-left: 25rem;
   }
   .headers {
      grid-area: hds;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(93, 67, 224);
   }
   #indextext {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 70vh;
      text-align: start;
   }
   #worksh2, #abouth2, #contacth2 {
      font-size: 35px;
   }
   #aboutmep {
      font-size: 25px;
   }
   #contactdiv p {
      font-size: 25px;
   }
   #indextext h2 {
      margin-bottom: 0;
      font-size: 50px;
   }
   #indextext p {
      margin-top: 0;
      font-size: 25px;
   }
}

#workssec {
   grid-area: wrsc;
}

#aboutsec {
   grid-area: absc;
}

#contactsec {
   grid-area: ctsc;
}

#aboutdiv, #contactdiv {
   height: 75vh;
}

.hdname {
   grid-area: hdn;
   text-align: start;
}

.hdlinks {
   grid-area: hdl;
   color: rgb(255, 255, 255);
   text-decoration: none;
}

#indextext {
   grid-area: idt;
   display: flex;
   flex-direction: column;
}

#portrait {
   grid-area: prt;
}

#welcomep {
   width: 50%;
}

nav ul li {
   list-style: none;
   margin-left: 1rem;
   margin-right: 1rem;
}

nav ul {
   display: flex;
}

nav {
   display: flex;
   justify-content: flex-end;
}

section img {
   display: flex;
   max-width: 70%;
}

p {
   color: aliceblue;
}

h2 {
   color: aliceblue;
}

h1 {
   color: rgb(71, 230, 233);
   font-size: 45px;
}

@media screen and (max-width:600px){
   nav {
      justify-content: center;
   }
}

h1, h2, p {
   padding: 1rem;
}

nav ul li:hover {
   background-color: rgb(122, 74, 244);
}
