/* STILMALL */

@media (max-width: 768px) {
   .containers {
      display: grid;
      width: 100%;
      height: 100%;
      
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;

      grid-template-areas: 
      'hdn hdl'
      'idt idt'
      'prt prt';
   }
   #portrait {
         width: 100%;
      }
}

@media (min-width: 1024px) {
   .containers {
      display: grid;
      width: 100%;
      height: 100%;
      
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;

      grid-template-areas: 
      'hdn hdl'
      'idt prt';
   }
   #portrait {
         width: 30%;
      }
}

.hdname {
   grid-area: hdn;
}

.hdlinks {
   grid-area: hdl;
}

#indextext {
   grid-area: idt;
}

#portrait {
   grid-area: prt;
}